name: Build and Push flutter-sdk Docker Image
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'
jobs:
  docker:
    name: Docker build and push
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: boxhive/flutter-sdk-node
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            
      - name: Show tags
        run: |
          echo "==> Docker tags to be pushed:"
          echo "${{ steps.meta.outputs.tags }}"
            
      - name: Determine cache
        id: determine_cache
        run: |
          echo "cache_from=type=gha" >> $GITHUB_OUTPUT
          
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "cache_to=type=gha,mode=max" >> $GITHUB_OUTPUT
          else
            echo "cache_to=" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: ${{ steps.determine_cache.outputs.cache_from }}
          cache-to: ${{ steps.determine_cache.outputs.cache_to }}
